.box1 {
    font-weight: bold;
    background: red;
    color: #fff;
}

.box2 {
    
    background: pink;
    padding: 50px 70px;
    color: skyblue;
    font-size: 30px;
    font-weight: bold;
}

.box3{
    background: greenyellow;
    padding: 50px 70px 25px;
    font-size: 40px;
    color: #fff;
    
}
.box4 {
    background: orange;
    margin: 50px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;

}