a {
    background: mediumaquamarine;
    font-size: 30px;
    
}

span {
    background: pink;
    font-size: 20px;
    height: 100px;
        
}


.apple1{
    width: 150px;
    height: 130px;
    padding: 50px 30px;
    background: greenyellow;
}

.peach {
    width: 180px;
    height: 150px;
    padding: 30px 50px;
    background: orange;
}

.berrymix {
    width: 200px;
    height: 150px;
}

strong {
    background: green;
    font-size: 30px;
    color: #fff;
}